body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: dimgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 20%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
